a {
  text-decoration: underline;
}

.content pre {
  margin: 0;
  padding: 0;

  border-radius: 6px;
}

.code {
  border: 1px solid var(--color-border);
  background: var(--color-background);
  border-radius: 8px;
  font-family: monospace;
  /* font-size: small; */
  padding: 0.25rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Multi-line tags */
.label.is-multiline,
.tag.is-multiline {
  white-space: break-spaces;
  word-wrap: break-word;
  display: block;
  height: unset;
}
.tag.is-multiline.is-large {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
 